.menu {
    display: flex;
    align-items: center;
    justify-content: center; 

    gap: 7em;
    padding: 1em;
    box-shadow: 0px 0px 3px 0px #8167A9;
}


.menu__link {
    text-decoration: none;
    border: none;
    background: none;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4em;

    transition: all 0.2s linear 0s;
}

.menu__link:hover {
    color: #8167A9;
    transition: all 0.2s linear 0s;
}


.menu__link_active {
    color: #777
}


.contacts {
    position: absolute;
    padding-left: 2em;
    left: 57%;
    top: 8%;
    
    opacity: 0;

    width: 200px;
    height: 200px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1em;

    background-color: white;
    border-radius: 12%;
    box-shadow:  0px 0px 4px 0px #8167A9;

    transition: all 0.3s linear 0s;
}

